<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/jquery-3.2.1.js') }}"></script>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
