{% extends '@App/layout.html.twig' %}
{% block title %}Chat{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" type='text/css' />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/chat.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="chatArea"></div>
        <div id="usersList"></div>
    </div>

    <form id="chatForm" action="">
        <input id="chatFormInput" title="Username" type="text" onkeypress="return sendChatMessage(event)"
               name="txt"><br>
    </form>

    <h1 id="usrname">{{ username }}</h1>
    <h1 id="msgFromServer"></h1>
{% endblock %}